@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/grid";
body {
  background-color: black;
  font-size: 20px;
  header {
    font-size: 1.2em;
    ul {
      list-style: none;

      li {
        display: inline-block;
        padding: 20px;
      }
    }
  }
}
